pdb_raw_files/
*.ipynb
**outputs/
*voxels_hdf5*/
download/
*.out
dataset_split_v1_0_0.csv
.idea/
**__pycache__/
**wandb/
*.npy
*.DS_Store
baseline/data_gen_rest.py
*.hdf5
baseline/cp_hddstore.py
.DS_Store